html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: hsl(200, 80%, 30%);
    background-image: radial-gradient(hsl(200, 80%, 30%), hsl(210, 80%, 20%));
    color: white;
    font-family: Raleway, Helvetica, Arial sans-serif;
    line-height: 1.4;
    margin: 0;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
}

main {
    display: block;
}

img {
    max-width: 100%;
}

.page-header {
    margin: 0;
    padding: 1rem;
}

@media (min-width: 30em) {
    .page-header {
        padding: 2rem 2rem 3rem;
    }
}

@media (min-width: 30em) {
    .main-nav {
        position: fixed;
        top: 8.25rem;
        left: 0;
        z-index: 10;
        background-color: transparent;
        transition: background-color .5s linear;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

    .main-nav:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.nav-links {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 1rem;
    list-style: none;
}

.nav-links>li+li {
    margin-left: 0.8em;
}

.nav-links>li>a {
    display: block;
    padding: 0.8em 0;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

@media (min-width: 30em) {
    .nav-links {
        display: block;
        padding: 1em;
        margin-bottom: 0;
    }

    .nav-links>li+li {
        margin-left: 0;
    }

    .nav-links__label {
        display: inline-block;
        margin-left: 1em;
        padding-right: 1em;
        opacity: 0;
        transform: translate(-1em);
        transition: transform 0.4s cubic-bezier(0.2, 0.9, 0.3, 1.3), opacity 0.4s ease-out;
    }

    .nav-links:hover .nav-links__label,
    .nav-links a:focus>.nav-links__label {
        opacity: 1;
        transform: translate(0);
    }

    .nav-links>li:nth-child(2) .nav-links__label {
        transition-delay: 0.1s;
    }

    .nav-links>li:nth-child(3) .nav-links__label {
        transition-delay: 0.2s;
    }

    .nav-links>li:nth-child(4) .nav-links__label {
        transition-delay: 0.3s;
    }

    .nav-links>li:nth-child(5) .nav-links__label {
        transition-delay: 0.4s;
    }

    .nav-links__icon {
        transition: transform 0.2s ease-out;
    }

    .nav-links a:hover>.nav-links__icon,
    .nav-links a:focus>.nav-links__icon {
        transform: scale(1.3);
    }
}

.nav-links__icon {
    height: 1.5em;
    width: 1.5em;
    vertical-align: -0.2em;
}

.nav-links>li>a:hover {
    color: hsl(40, 100%, 70%);
}

.flying-grid {
    margin: 0 1rem;
    perspective: 500px;
}

.flying-grid__item {
    animation: fly-in 600ms ease-in;
    animation-fill-mode: backwards;
}

.flying-grid__item:nth-child(2) {
    animation-delay: 0.15s;
}
.flying-grid__item:nth-child(3) {
    animation-delay: 0.3s;
}
.flying-grid__item:nth-child(4) {
    animation-delay: 0.45s;
}

@keyframes fly-in {
    0% {
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }

    56% {
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }

    100% {
        transform: translateZ(0) rotateY(0);
    }
}

@media (min-width: 30em){
    .flying-grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 5rem;
    }

    .flying-grid__item {
        flex: 1 1 300px;
        margin-left: 0.5em;
        margin-right: 0.5em;
        max-width: 600px;
    }

    @supports (display: grid){
        .flying-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2em;
        }

        .flying-grid__item {
            max-width: initial;
            margin: 0;
        }
    }
}

.card {
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #fff;
    color: hsl(210, 15%, 20%);
    box-shadow: 0.2em 0.5em 1em rgba(0, 0, 0, 0.3);
}

.card > img {
    width: 100%;
}
