.blend {
    min-height: 400px;
    background-image: url(images/bear.jpg), url(images/bear.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -30vw, 30vw;
    background-blend-mode: multiply;
}

.blend {
    min-height: 400px;
    background-image: url(images/bear.jpg);
    background-color: #148;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: luminosity;
}

.blend {
    min-height: 400px;
    background-image: url(images/scratches.png), url(images/bear.jpg);
    background-color: transparent; /*overrides previous style*/
    background-size: 200px, cover;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-blend-mode: soft-light;
}

.blend2 {
    background-image: url(images/bear.jpg);
    background-size: cover;
    background-position: center;
    padding: 5em 0 10em;
}

.blend2 > h1 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    text-align: center;
    mix-blend-mode: hard-light;
    background-color: #c33;
    color: #808080;
    border: .1em solid #ccc;
    border-width: .1em 0;
}
