body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 200vh;
    /* forces the page height to enable scrolling (for demo purposes only) */
    margin: 0;
}

button {
    padding: 0.5em 0.7em;
    border: 1px solid #8d8d8d;
    background-color: #fff;
    font-size: 1em;
}

.top-banner {
    padding: 1em 0;
    background-color: #ffd698;
}

.top-banner-inner {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.modal {
    display: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-body {
    position: fixed;
    top: 3em;
    bottom: 3em;
    right: 20%;
    left: 20%;
    padding: 2em 3em;
    background-color: #fff;
    z-index: 2;
    /* Allows the modal body to scroll, if necesary */
    overflow: auto;
}

.modal-close {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
    height: 1em;
    width: 1em;
    text-indent: 10em;
    overflow: hidden;
    border: 0;
}

.modal-close::after {
    position: absolute;
    line-height: 0.5;
    top: 0.2em;
    left: 0.1em;
    text-indent: 0;
    content: "\00D7";
}

.container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    margin: 1em auto;
    min-height: 100vh;
}

.col-main {
    flex: 1 80%;
}

.col-sidebar {
    flex: 20%;
}

.affix {
    position: sticky;
    top: 1em;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-label {
    padding: .5em 2em 0.5em 1.5em;
    border: 1px solid #ccc;
    background-color: #eee;
}

.dropdown-label::after {
    content: " ";
    position: absolute;
    right: 1em;
    top: 1em;
    border: 0.3em solid;
    border-color: black transparent transparent;
}

.dropdown:hover .dropdown-label::after {
    top: 0.7em;
    border-color: transparent transparent black;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 2.1em;
    min-width: 100%;
    background-color: #eee;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.submenu {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    border: 1px solid #999;
}

.submenu>li+li {
    border-top: 1px solid #999;
}

.submenu>li>a {
    display: block;
    padding: .5em 1.5em;
    background-color: #eee;
    color: #369;
    text-decoration: none;
}

.submenu>li>a:hover {
    background-color: #fff;
}