.button {
    padding: 1em;
    border: 0;
    font-size: .8rem;
    color: white;
    border-radius: .5em;
    background-image: linear-gradient(to bottom, #57b, #148);
    box-shadow: .1em .1em .5em #124;
}

.button:active {
    box-shadow: inset 0 0 0.5em #124,
                inset 0 0.5em 1em rgba(0, 0, 0, 0.4);
}

.flat-button {
    border: 0;
    color: white;
    background-color: #57b;
    font-size: 1rem;
    padding: 0.8em;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.15);
}

.flat-button:hover {
    background-color: #456ab6;
}

.flat-button:active {
    background-color: #148;
}

.modern-button {
    padding: .8em;
    border: 0;
    font-size: 1rem;
    color: white;
    border-radius: .5em;
    background-color: #57b;
    box-shadow: 0 0.4em #148;
    text-shadow: 1px 1px #148;
}

.modern-button:active {
    background-color: #456ab5;
    transform: translateY(0.1em);
    box-shadow: 0 0.3em #148;
}