body {
    background-color: #709b90;
    font-family: Helvetica, Arial, sans-serif;
}

.portfolio>figure {
    display: inline-block;
    max-width: 300px;
    margin: 0;
    /* Overrides user agent margins */
}

.portfolio img {
    object-fit: cover;
    /* Allows the image to fill the box without being stretched (cropping edges instead) */
    max-width: 100%;
}

.portfolio figcaption {
    padding: 0.3em 0.8em;
    background-color: rgba(0, 0, 0, 0.5);
    color: #000;
    text-align: right;
}

@supports (display: grid) {
    .portfolio {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /* Sets a minimun column width of 200px and auto-fills the grid. */
        /* If we use auto-fit instead auto-fill, the images will stretch to fill the empty gaps in wider screens if necessary */
        grid-auto-rows: 1fr;
        /* Sets an implicit horizontal grid track size of 1fr */
        grid-gap: 1em;
        grid-auto-flow: dense;
    }

    .portfolio>figure {
        display: flex;
        flex-direction: column;
        max-width: initial;
        /* Overrides fallback styles */
    }

    .portfolio img {
        flex-grow: 1;
    }

    .portfolio .featured {
        grid-row: span 2;
        grid-column: span 2;
    }


}