:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
    /* Base font size scales slightly with the viewport */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: #1476b8;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #1430b8;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #b81414;
}

.page-header {
    padding: 0.4em 1em;
    background-color: #fff;
}

@media (min-width: 35em){
    .page-header {
        padding: 1em;
    }
}

.title>h1 {
    color: #333;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0.2em 0;
}

/* Targets breakpoints above 35em */
@media (min-width: 35em) {

    .title>h1 {
        /* Overrides the mobile font size (1.5rem) with a larger one */
        font-size: 2.25rem;
    }
}

.slogan {
    color: #888;
    font-size: 0.875em;
    margin: 0;
}

.hero {
    padding: 2em 1em;
    text-align: center;
    background-image: url(coffee-beans-small.jpg);
    background-size: 100%;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.3em #000;
}

@media (min-width: 35em) {
    .hero {
        padding: 5em 3em;
        font-size: 1.2rem;
        background-image: url(coffee-beans-medium.jpg);
    }
}

main {
    padding: 1em;
}

@media (min-width: 35em) {
    main {
        padding: 2em 1em;
    }
}

.subtitle {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.menu {
    position: relative;
    /* Esblishes containing block for both absolutely positioned children */
}

.menu-toggle {
    position: absolute;
    top: -1.2em;
    /* A negative top pulls the button up outside its containing block */
    right: 0.1em;
    border: 0;
    /* Overrides user agent button styles */
    background-color: transparent;
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 0.4em;
    text-indent: 5em;
    /* Hides the text content of the button and fiexs its size at 1 em */
    white-space: nowrap;
    overflow: hidden;
}

.menu-toggle::after {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    display: block;
    content: "\2261";
    /* Overlays the button with a unicode symbol, the hamburguer icon */
    text-indent: 0;
}

.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
}

.menu.is-open .menu-dropdown {
    display: block;
    /* Displays the dropdown menu when the class is-open is added to the menu */
}

.nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    list-style: none;
    background-color: #000;
    color: #fff;
}

.nav-menu>li+li {
    /* Applies a border between each menu item */
    border-top: 1px solid #ccc;
}

.nav-menu>li>a {
    display: block;
    padding: 0.8em 1em;
    color: #fff;
    font-weight: normal;
}

@media (min-width: 35em){
    .menu-toggle {
        display: none;
    }
    
    .menu-dropdown {
        display: block;
        position: static; /* overrides absolute positioning */
    }

    .nav-menu {
        display: flex;
        border: 0;
        padding: 0 1em;
    }

    .nav-menu > li {
        flex: 1;
    }

    .nav-menu > li + li {
        border: 0;
    }

    .nav-menu > li > a {
        padding: 0.3em;
        text-align: center;
    }

    .row {
        display: flex;
        margin-left: -.75em;
        margin-right: -.75em;
    }

    .column {
        flex: 1;
        margin-right: 0.75em;
        margin-left: 0.75em;
    }
}

@media (min-width: 50em){
    :root {
        font-size: 1.125em;
    }

    .page-header {
        padding: 1em 4em;
    }

    .hero {
        padding: 7em 6em;
        background-image: url(coffee-beans.jpg);
    }

    main {
        padding: 2em 4em;
    }

    .nav-menu {
        padding: 0 4em;
    }
}