.fade-container {
    height: 200px;
    width: 400px;
}

/* Linear Gradient */
.fade--linear {
    background-image: linear-gradient(90deg, red 0%, white 40%, blue 100%);
}

/* Solid colors */
.fade--solid-colors {
    background-image: linear-gradient(90deg, red 40%, white 40%, white 60%, blue 60%);
}

/* Repeating stripes */
.fade--striped-bar {
    height: 1em;
    background-image: repeating-linear-gradient(-45deg, #57b, #57b 10px, #148 10px, #148 20px);
    border-radius: 0.3em;
}

/* Radial gradient */
.fade--radial {
    background-image: radial-gradient(white, blue);
}

/* Circle gradient */
.fade--radial-circle {
    background-image: radial-gradient(circle, white, midnightblue);
}

/* Circle gradient uncentered */
.fade--radial-circle-uncentered {
    background-image: radial-gradient(3em at 25% 25%, white, midnightblue);
}

/* Circle gradient ring */
.fade--radial-ring {
    background-image: radial-gradient(circle, midnightblue 0%, white 75%, rgb(128, 18, 18));
}

/* Circle stripes*/
.fade--radial-stripes {
    background-image: repeating-radial-gradient(circle, midnightblue 0, midnightblue 1em, white 1em, white 2em);
}

