body {
    background-color: hsl(210, 80%, 20%);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.card {
    padding: 0.5em;
    margin: 0 auto;
    background-color: white;
    max-width: 300px;
    transform: rotate(15deg) translate(20px, 0);
    /* transform-origin: right center;
    transform-origin: 100% 50%; */
}